LinkWS3.0-南充社保/Backup/LinkWS/Web References/javaEncrypt/serviceEncryptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://service.ncds.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="serviceEncryptService" targetNamespace="http://service.ncds.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/javaEncrypt/serviceEncryptPort?xsd=1" namespace="http://service.ncds.com/" />
    </xsd:schema>
  </types>
  <message name="encrypt">
    <part name="parameters" element="tns:encrypt" />
  </message>
  <message name="encryptResponse">
    <part name="parameters" element="tns:encryptResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="decrypt">
    <part name="parameters" element="tns:decrypt" />
  </message>
  <message name="decryptResponse">
    <part name="parameters" element="tns:decryptResponse" />
  </message>
  <portType name="serviceEncryptDelegate">
    <operation name="encrypt">
      <input message="tns:encrypt" />
      <output message="tns:encryptResponse" />
      <fault name="Exception" message="tns:Exception" />
    </operation>
    <operation name="decrypt">
      <input message="tns:decrypt" />
      <output message="tns:decryptResponse" />
      <fault name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="serviceEncryptPortBinding" type="tns:serviceEncryptDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="encrypt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="decrypt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="serviceEncryptService">
    <port name="serviceEncryptPort" binding="tns:serviceEncryptPortBinding">
      <soap:address location="http://localhost:8080/javaEncrypt/serviceEncryptPort" />
    </port>
  </service>
</definitions>